/*--- Global Reset ---*/
@import "normalize.css";

/*--- Basic Style Elements ---*/

@font-face {
	font-family: "Magra"; src: url('http://fonts.googleapis.com/css?family=Magra:400,700');
	font-family: "Cuprum"; src: url('http://fonts.googleapis.com/css?family=Cuprum:400,700');
}

body{
	font-family: Arial, Helvetica, sans-serif;
	max-width: 1050px;
	margin: 0% auto;
	font-size: 81.25%; /*13px*/
	line-height: 1.5;
    background-image: url(../images/bg1.png); 
	background-repeat: repeat;
}

a, p a {
	text-decoration:none;
}	

h1{
	font-family: 'Magra', sans-serif;
	font-size: 187.5%; /*30px*/
	color: #0C2760;
	text-transform: uppercase;
	border-bottom: 1px dotted #575757;
}

h2 {
	font-family: 'Cuprum', sans-serif;
	font-size: 125%; /*20px*/
	font-weight: 700;
	color: #AA2121;
}

h2 span{
	font-size: 93.75%; /*15px*/
	color: #FFF;
	float: right;
	background-color: #0C2760;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
}

h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 112.5%; /*18px*/
	color: #575757;
}

/*--- Main Wrapper Section ----*/

#wrapper {
	max-width: 95.238095%; /*1000px*/
	margin: 0 auto;
	background-color: white;
	padding: 15px;
	overflow: hidden;
	box-shadow: 0 0 5px 5px #D8D8D8;
	-moz-box-shadow: 0 0 5px 5px #D8D8D8;
	-webkit-box-shadow: 0 0 5px 5px #D8D8D8;
}

/*--- Logo Section ---*/

header img{
   	float:left;
   	padding: 20px 20px;
	width: 25.0%; /*250px*/
}

/*--- Nav Section ---*/

#menu {
	font-size: 81.25%; /*13px*/ 
	line-height: 1.5;
	text-align: left;
	list-style: none;
	margin: 20px auto 0px auto;
	height: 43px;
	padding: 0px 20px 0px 20px;
	float: right;
	border: 1px solid #AA2121;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #AA2121;
	background: -moz-linear-gradient(top, #C25050, #AA2121);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C25050), to(#AA2121));
	-moz-box-shadow: inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow: inset 0px 0px 1px #edf9ff;
	box-shadow: inset 0px 0px 1px #edf9ff;
}

#menu li {
	float: left;
	display: block;
	text-align: center;
	position: relative;
	padding: 4px 10px 4px 10px;
	margin-right: 30px;
	margin-top: 7px;
	border: none;
}

#menu li:hover {
	border: 1px solid #777;
	padding: 4px 9px 4px 9px;
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEE));
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

#menu li a {
	font-size: 14px; 
	color: #EEEEEE;
	display: block;
	outline: 0;
	text-decoration: none;
}

#menu li:hover a {
	color: #161616;
}
#menu li .drop {
	padding-right: 21px;
	background: url("../images/drop.png") no-repeat right 8px;
}
#menu li:hover .drop {
	background: url("../images/drop.gif") no-repeat right 7px;
}

.dropdown_1column {
	margin: 4px auto;
	float: left;
	position: absolute;
	left: -999em; /* This line hides the drop down until hover code */
	text-align: left;
	padding: 10px 5px 10px 5px;
	border: 1px solid #777;
	border-top: none;
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #EEE, #CCC);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#CCC));
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {
	width: 140px;
}

#menu li:hover .dropdown_1column {
	left: -1px;
	top: auto;
}

.col_1 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width: 140px;}

#menu ul li {
	line-height: 21px;
	font-size: 12px;
	text-align: left;
}

#menu li:hover div a {
	font-size: 12px;
	color: #015b86;
}
#menu li:hover div a:hover {
	color: #029feb;
}

#menu li ul {
	list-style: none;
	padding: 0;
	margin: 0 0 12px 0;
}
#menu li ul li {
	font-size: 12px;
	line-height: 24px;
	position: relative;
	padding: 0;
	margin: 0;
	float: none;
	text-align: left;
	width: 130px;
}
#menu li ul li:hover {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

/*--- Banner Section ---*/

#banner img {
	width: 94.0%; /*940px*/
	margin: 2.0%; /*20px*/
	float: left;
	padding: 1.0%; /*10px*/
	background: #0C2760;
	border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	clear: both;
}

.cta {
	width: 30.0%;
	position: absolute;
	margin-top: 230px;
	margin-left: 60px;
	background: #0C2760;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	overflow: hidden;
	padding: 5px;
}

.cta h1 {
	font: 187.5%/1.6 'Magra', sans-serif; /*30px*/
	color: #FFF;
	text-transform: uppercase;
	margin: 5px 15px;
	border-bottom: 1px dotted #575757;

}

.cta p {
	font-size: 87.5%; /*14px*/
	color: #fff;
	margin-left: 20px;
}

/*--- begin button ---*/
.button {
	display: inline-block;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	color: #ffffff;
	text-decoration: underline;
}
.button:active {
	position: relative;
	top: 1px;
	color: #fff;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}

/* red */
.red {
	color: #ffffff;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
}

.red a {
	color: #ffffff;
}

.red a:hover {
	background: #b61318;
	color: #ffffff;
	text-decoration: underline;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
}
.red a:active {
	color: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
}

/*--- end button---*/

.imgshadow {
	background: #FFF;
	padding: 4px;
	border: 1px solid #777;
	margin-top: 5px;
	-moz-box-shadow: 0px 0px 5px #666;
	-webkit-box-shadow: 0px 0px 5px #666;
	box-shadow: 0px 0px 5px #666;
}
.img_left {
	height: 70px;
	width: 70px;
	float: left;
	margin: 5px 15px 5px 5px;
	clear: both;
}

/*--- Group 1 (Quick Links) Section ---*/

.group1 {
	float: left;
	width: 250px;
	position: relative;
	padding: 0 10px;
	margin: 0 10px;
	background-color: #CCC;  
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#edb8b8), to(#FFF));
	background-image: -webkit-linear-gradient(top, #edb8b8, #fff); 
	background-image: -moz-linear-gradient(top, #edb8b8, #fff);
	background-image: -ms-linear-gradient(top, #edb8b8, #fff);
	background-image: -o-linear-gradient(top, #edb8b8, #fff);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.sub ul {
	width: 250px;
}

.sub li {
	list-style-type: none;
	margin: 0 -30px;
	padding-bottom: 10px;
	font-size: 100%; /*16px*/
}


/*--- Group 2 (At A Glance) Section --*/

.group2 {
	float: left;
	width: 29.0%; /*290px*/
	padding: 0 10px;
	margin-left: 20px;
	
}

/*--- Group 3 (Latest News) Section ---*/

.group3 {
	float: right;
	width: 29.0%; /*290px*/
	padding: 0 5px;
	margin-left: 10px;
}

.group3 p {
	border-bottom: 1px dotted #575757;
}
	
.latest_news {
	width: 94.482758%; /*274px*/
	float: left;
	margin-bottom: 10px;
	padding-bottom: 12px;
}

/*--- Group 4 (Main Content) Section ---*/

.group4 {
	float: left;
	width: 60.0%; /*600px*/
	padding: 0 10px;
	margin-left: 10px;
}

/*--- Group 5 (Contact Info) Section ---*/

.group5 {
	float: left;
	width: 38.88%; /*388px*/
	padding: 0 10px;
	margin-left: 5px;
}

/*--- Group 6 (Questions Form) Section ---*/

.group6 {
	float: left;
	width: 23.0%; /*230px*/
	padding: 0 10px;
	margin-left: 5px;
}
		
/*---- Footer Section ---*/

footer {
	margin: 0 auto;
	padding: 0 10px;
}

footer .fmenu1 {
	float: left;
}

footer .fmenu2 {
	float: right;
}

/*-------------------------- Tablet Landscape size for standard up to 860px view --------*/

@media screen and (max-width: 860px) {
		#wrapper {
			max-width: 93.023225%; /*800px*/
		}
	
		/*--- Nav Section ---*/
		
		#menu {
			float: left;
			margin: auto 15px;
		}
		
		/*--- CTA Section ---*/
		
		.cta {
			margin: 5px 15px;
			width: 42.5%; /*340px*/
			clear: both;
			position: inherit;
		}
		
		/*--- Group 1 (Quick Links) Section ---*/
		
		.group1 {
			margin: 5px 15px;
			width: 31.25%; /*250px*/
			clear: both;
			
		}
		
		/*--- Group 2 (At A Glance) Section --*/
		
		.group2 {
			float: left;
			width: 33.7209230%; /*290px*/		
		}
		
		/*--- Group 3 (Latest News) Section ---*/
		
		.group3 {
			float: left;
			width: 58.13953%; /*500px*/
		}
		
		/*--- Group 4 (Main Content) Section ---*/
		
		.group4 {
			float: right;
			width: 56.25%; /*450px*/
		}
		
		/*--- Group 5 (Contact Info) Section ---*/
		
		.group5 {
			float: left;
			width: 46.511627%; /*400px*/
		}
		
		/*--- Group 6 (Questions Form) Section ---*/
		
		.group6 {
			float: left;
			width: 29.069767%; /*250px*/
		}
	}



	/*-------------- Mobile Landscape size to Tablet Portrait size up to 750px view --------*/

	@media screen and (min-width: 480px) and (max-width: 700px) {

		#wrapper {
			max-width: 80%; /*600px*/
		}
		
		/*--- Logo Section ---*/
		
		header img{
			margin: auto;
			padding: 20px;
			width: 52.083333%; /*250px*/
		}
		
		/*--- Nav Section ---*/
		#menu {
			clear: both;
			text-align: center;
			list-style-type: none;
			margin: 20px auto 0px auto;
			height: auto;
			padding: 0px;
			float: none;
			border: 0px;
			-moz-border-radius: 0px;
			-webkit-border-radius: 0px;
			border-radius: 0px;
			background: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		#menu li {
			float: none;
			display: block;
			text-align: center;
			position: relative;
			padding: 4px 10px 4px 10px;
			margin-right: 30px;
			margin-top: 7px;
			border: none;
			background: #AA2121;
			background: -moz-linear-gradient(top, #C25050, #AA2121);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C25050), to(#AA2121));
			-moz-box-shadow: inset 0px 0px 1px #edf9ff;
			-webkit-box-shadow: inset 0px 0px 1px #edf9ff;
			box-shadow: inset 0px 0px 1px #edf9ff;
		}

		#menu li:hover {
			border: 0px;
			padding: 4px 9px 4px 9px;
			background: #F4F4F4;
			background: -moz-linear-gradient(top, #F4F4F4, #EEE);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEE));
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
		}

		#menu li a {
			font-size: 14px; 
			color: #EEEEEE;
			display: block;
			outline: 0;
			text-decoration: none;
		}

		#menu li:hover a {
			color: #161616;
		}
		#menu li .drop {
			padding-right: 21px;
			display: block;
		}
		#menu li:hover .drop {
			background: none;
		}

		.dropdown_1column {
			margin: 4px auto;
			float: none;
			position: absolute;
			left: -999em; /* This line hides the drop down until hover code */
			text-align: left;
			padding: 10px 5px 10px 5px;
			border: 1px solid #777;
			border-top: none;
			background: #F4F4F4;
			background: -moz-linear-gradient(top, #EEE, #CCC);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#CCC));
			-moz-border-radius: 0px 5px 5px 5px;
			-webkit-border-radius: 0px 5px 5px 5px;
			border-radius: 0px 5px 5px 5px;
		}

		.dropdown_1column {
			width: 140px;
		}

		#menu li:hover .dropdown_1column {
			left: -1px;
			top: auto;
		}

		.col_1 {
			display: inline;
			float: left;
			position: relative;
			margin-left: 5px;
			margin-right: 5px;
		}
		.col_1 {width: 140px;}

		#menu ul li {
			line-height: 21px;
			font-size: 12px;
			text-align: left;
		}

		#menu li:hover div a {
			font-size: 12px;
			color: #015b86;
		}
		#menu li:hover div a:hover {
			color: #029feb;
		}

		#menu li ul {
			list-style: none;
			padding: 0;
			margin: 0 0 12px 0;
		}
		#menu li ul li {
			font-size: 12px;
			line-height: 24px;
			position: relative;
			padding: 0;
			margin: 0;
			float: none;
			text-align: left;
			width: 130px;
		}
		#menu li ul li:hover {
			background: none;
			border: none;
			padding: 0;
			margin: 0;
}


		
		/*--- CTA Section ---*/
		
		.cta {
			margin: 
			visibility: hidden;
		}

		/*--- Group 1 (Quick Links) Section ---*/
		
		.group1 {
			float: none;
			width: 52.083333%; /*250px*/
			clear: both;
		}
		
		/*--- Group 2 (At A Glance) Section --*/
		
		.group2 {
			float: left;
			width: 33.7209230%; /*290px*/
			padding: 0 10px;
			margin-left: 20px;
			
		}
		
		/*--- Group 3 (Latest News) Section ---*/
		
		.group3 {
			float: none;
			width: 68.571428%; /*480px*/
		}
		
		/*--- Group 4 (Main Content) Section ---*/
		
		.group4 {
			float: none;
			width: 68.571428%; /*480px*/
		}
		
		/*--- Group 5 (Contact Info) Section ---*/
		
		.group5 {
			float: none;
			width: 68.571428%; /*480px*/
		}
		
		/*--- Group 6 (Questions Form) Section ---*/
		
		.group6 {
			float: none;
			width: 68.571428%; /*480px*/
		}
	}
		


	/*-------------- Mobile Portrait size to Mobile Landscape size up to 480px view --------*/

	@media screen and (min-width: 320px, max-width: 478px) {

		header img{
			margin: auto;
			padding: 20px;
			width: 52.083333%; /*250px*/
		}
		
		/*--- Nav Section ---*/
		
		#menu {
			clear: both;
			text-align: center;
			list-style-type: none;
			margin: 20px auto 0px auto;
			height: auto;
			padding: 0px;
			float: none;
			border: 0px;
			-moz-border-radius: 0px;
			-webkit-border-radius: 0px;
			border-radius: 0px;
			background: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		#menu li {
			float: none;
			display: block;
			text-align: center;
			position: relative;
			padding: 4px 10px 4px 10px;
			margin-right: 30px;
			margin-top: 7px;
			border: none;
			background: #AA2121;
			background: -moz-linear-gradient(top, #C25050, #AA2121);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C25050), to(#AA2121));
			-moz-box-shadow: inset 0px 0px 1px #edf9ff;
			-webkit-box-shadow: inset 0px 0px 1px #edf9ff;
			box-shadow: inset 0px 0px 1px #edf9ff;
		}

		#menu li:hover {
			border: 0px;
			padding: 4px 9px 4px 9px;
			background: #F4F4F4;
			background: -moz-linear-gradient(top, #F4F4F4, #EEE);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEE));
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
		}

		#menu li a {
			font-size: 14px; 
			color: #EEEEEE;
			display: block;
			outline: 0;
			text-decoration: none;
		}

		#menu li:hover a {
			color: #161616;
		}
		#menu li .drop {
			padding-right: 21px;
			display: block;
		}
		#menu li:hover .drop {
			background: none;
		}

		.dropdown_1column {
			margin: 4px auto;
			float: none;
			position: absolute;
			left: -999em; /* This line hides the drop down until hover code */
			text-align: left;
			padding: 10px 5px 10px 5px;
			border: 1px solid #777;
			border-top: none;
			background: #F4F4F4;
			background: -moz-linear-gradient(top, #EEE, #CCC);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#CCC));
			-moz-border-radius: 0px 5px 5px 5px;
			-webkit-border-radius: 0px 5px 5px 5px;
			border-radius: 0px 5px 5px 5px;
		}

		.dropdown_1column {
			width: 140px;
		}

		#menu li:hover .dropdown_1column {
			left: -1px;
			top: auto;
		}

		.col_1 {
			display: inline;
			float: left;
			position: relative;
			margin-left: 5px;
			margin-right: 5px;
		}
		.col_1 {width: 140px;}

		#menu ul li {
			line-height: 21px;
			font-size: 12px;
			text-align: left;
		}

		#menu li:hover div a {
			font-size: 12px;
			color: #015b86;
		}
		#menu li:hover div a:hover {
			color: #029feb;
		}

		#menu li ul {
			list-style: none;
			padding: 0;
			margin: 0 0 12px 0;
		}
		#menu li ul li {
			font-size: 12px;
			line-height: 24px;
			position: relative;
			padding: 0;
			margin: 0;
			float: none;
			text-align: left;
			width: 130px;
		}
		#menu li ul li:hover {
			background: none;
			border: none;
			padding: 0;
			margin: 0;
}
		
		/*--- CTA Section ---*/
		
		.cta {
			visibility: hidden;
		}
		
		/*--- Group 1 (Quick Links) Section ---*/
		
		.group1 {
			float: none;
			width: 52.083333%; /*250px*/
			clear: both;
		}
		
		/*--- Group 2 (At A Glance) Section --*/
		
		.group2 {
			float: left;
			width: 33.7209230%; /*290px*/
			padding: 0 10px;
			margin-left: 20px;
			
		}
		
		/*--- Group 3 (Latest News) Section ---*/
		
		.group3 {
			float: none;
			width: 68.571428%; /*480px*/
		}
		
		/*--- Group 4 (Main Content) Section ---*/
		
		.group4 {
			float: none;
			width: 68.571428%; /*480px*/
		}
		
		/*--- Group 5 (Contact Info) Section ---*/
		
		.group5 {
			float: none;
			width: 68.571428%; /*480px*/
		}
		
		/*--- Group 6 (Questions Form) Section ---*/
		
		.group6 {
			float: none;
			width: 68.571428%; /*480px*/
		}

	}
